
body{
  background: url(./data/background.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logo{
height: 25px;
margin-left: 15px;
margin-top: 12px;
}

.top-bar{
  background-color: grey;
  height: 50px;
}

.main-nav{
  margin-top: -25px;
  margin-left: 825px;
}

.linkes{
  text-decoration: none;
  color: white;
  margin-top: -20px;
  margin-bottom: 30px;
  margin-right: 10px;
  margin-left: 30px;
}

.linkes:hover{
  color: #BEE8FE;
}

.slide{
  text-align: center;
  margin-top: 150px;
  color: white;
  font-size: 80px;
}

.point-description{
  margin-top: -70px;
  font-size: 15px;
}

.album-img{
  display: inline-block;
  height: 250px;
  width: 250px;
}

.album-img-empt{
  display: inline-block;
  height: 250px;
  width: 250px;
  background-color: grey;
}

#album-cover-art{
  margin-left: 25px;
  margin-top: 25px;
  height: 500px;
  width: 500px;
}

.album-details{
  display: inline-block;
  margin-left: 50px;
}

#album-title{
  font-size: 60px;
  margin-bottom: -20px;
}

.artist{
  color: white;
}

#release-info{
  color: white;
}

#song-list{
  display: inline-block;
  margin-left: 570px;
}

tr:hover .ion-play,
tr.playing .ion-pause{
 display: block;
}

tr.playing .song-number,
tr .ion-play,
tr .ion-pause,
tr:hover .song-number,
tr.playing .ion-play,
tr.paused .ion-pause{
 display: none;
}
